<div class="pagination p-3">
  <ul class="pagination">
    {% for page_num in page_obj.paginator.page_range %}
      {% if page_num == page_obj.number %}
        <li class="page-item active">
          <span class="page-link">{{ page_num }}</span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link"
             href="?page={{ page_num }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
            {{ page_num }}
          </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
